body {
    background-image: url(images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(244, 214, 245);
}

body,container {
    min-height: 100vh;
}

.container {
    border: 1px;
    border-style: none;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    position: relative;
}

.container-head {
    display: flex;
    justify-content: left;
    margin-left: 30px;
    
}

.container-head-logo {
    margin-right: 20px;
}

.container img.btn-plus {
    position: absolute;
    right: 210px;
}

.btn-plus {
    border: 1px solid;
    border: none;
    border-radius: 50%;
}

.faq-question {
    font-size: 20px;
}

li {
    list-style: none;
}
